<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- 配置数据库的相关信息 -->
    <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
    </property>
    <property name="hibernate.connection.url">
      jdbc:mysql://localhost:8066/test
      <!--  一种简写形式
          jdbc:mysql:///student  -->
    </property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123456</property>
    <!-- 配置数据库的方言 比如在mysql里面有关键字 limit ，只能使用在mysql里面
        让hibernate识别到不同数据库自己特有的语句 -->
    <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
    </property>

    <!-- 配置hibernate的相关信息 -->
    <!-- 是否显示底层的sql语句 -->
    <property name="hibernate.show_sql">true</property>
    <!-- 是否格式化sql语句 -->
    <property name="hibernate.format_sql">true</property>
    <property name="current_session_context_class">thread</property>
    <!-- 配置事务自动提交 -->
    <!-- <property name="hibernate.connection.autocommit">true</property> -->
  </session-factory>
</hibernate-configuration>