<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
  <select id="findTravelRecordById" parameterType="int"
    resultType="io.mycat.test.pojo.TravelRecord">
    SELECT * FROM travelrecord WHERE id=#{id}
  </select>
  <insert id="insertTravelRecord" parameterType="io.mycat.test.pojo.TravelRecord">
    INSERT INTO `travelrecord` (`id`,`user_id`,`traveldate`,`fee`,`days`) VALUES
    (#{id},#{userId},#{travelDate},#{fee},#{days});
  </insert>
</mapper>